# Copy this file to .env and fill in your values
DJANGO_SECRET_KEY=replace-me-with-a-secure-secret
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgresql://<user>:<password>@<host>:<port>/<dbname>
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://localhost:5174
SESSION_COOKIE_SAMESITE=Lax
CSRF_COOKIE_SAMESITE=Lax
